
@{
    ViewData["Title"] = "博客管理";
    Layout = "~/Views/Shared/_LayuiLayout.cshtml";
}



<fieldset class="table-search-fieldset">
    <legend>搜索信息  </legend>
    <div style="margin: 10px 10px 10px 10px">
        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">用户姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">用户性别</label>
                    <div class="layui-input-inline">
                        <input type="text" name="sex" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">用户城市</label>
                    <div class="layui-input-inline">
                        <input type="text" name="city" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">用户职业</label>
                    <div class="layui-input-inline">
                        <input type="text" name="classify" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button type="submit" class="layui-btn layui-btn-primary" lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>

<script type="text/html" id="blogTableToolBar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
        <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>
    </div>
</script>

<table class="layui-hide" id="blogTable" lay-filter="blogTableFilter"></table>

<script type="text/html" id="blogTableBar">
    <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
</script>

<!--表格字段模板-->
<script type="text/html" id="articleTypeName">
    <span>{{d.articleType.name}}</span>
</script>

@section Scripts{
    <script src="~/js/layui-helper.js" asp-append-version="true"></script>
    <script src="~/js/layer-helper.js" asp-append-version="true"></script>
    <script>



        $(function () {
             layuiHelper.tableRender("#blogTable","#blogTableToolBar", "@_staticConfigs.GenerateGetLayuiTableBlogApiUrl()", [
            { type: "checkbox", width: 50 },
            { field: 'id', width: 160, title: 'ID', sort: true },
            { field: 'code', width: 20, title: '自定义主键编码', sort: true },
            { field: 'title', title: '标题', sort: true },
            { field: 'summaryInfo', title: '摘要', sort: true },
            { field: 'icon', title: '头图', sort: true },
            { field: 'content', title: '内容', sort: true },
            { field: 'readNumber', title: '阅读数量', sort: true },
            { field: 'status', title: '当前状态1启用 ， 0 禁用', sort: true },
            { field: 'creatTime', title: '创建时间', sort: true },
            { field: 'updateTime', title: '更新时间', sort: true },
            {  templet:'#articleTypeName', title: '类别', sort: true },
            { title: '操作', toolbar: '#blogTableBar', align: "center" }
        ], 1, 10);


            layuiHelper.tableToolEvent('blogTableFilter', 'toolbar', 'add', function (data) {

               layui.use([ 'miniTab'], function () {
                    var miniTab = layui.miniTab;
                    // 打开新的窗口
                    miniTab.openNewTabByIframe({
                        href: "blog/add",
                        title: "添加博客",
                    });
                });


            });


            layuiHelper.tableToolEvent('blogTableFilter', 'tool', 'delete', function (data,obj) {

            layerHelper.confirm(null, '确定要删除吗？',
                function () {
                layuiHelper.ajaxGetAsync('@_staticConfigs.GenerateDeleteBlogApiUrl()?id=' + data.id, function (res) {
                    layerHelper.closeAllLoading();
                    if (res.code == 1) {
                        layerHelper.msg("删除成功!", function () {}, 1);
                        obj.del();
                    }
                });
                }
            )

            });

        });


    </script>
}
