
@{
    ViewData["Title"] = "添加博客";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

    <link href="~/editormd/css/editormd.css" rel="stylesheet" />
}

<div class="row">

</div>
<div class="row">
    <div id="add-article-editormd"></div>
</div>


@section Scripts{
    <script src="~/editormd/js/editormd.js"></script>
    <script src="~/editormd/js/editormdUploadImg.js"></script>
    <script type="text/javascript">
        var testEditor;

        $(function () {

           
            testEditor = editormd("add-article-editormd", {
                width: "100%",
                height: 888,
                path: '/editormd/lib/',
                //theme: "dark", //头部工具栏主题
                //previewTheme: "dark", //展示主题
                editorTheme: "mdn-like", //编辑器主题
                //markdown : md,
                codeFold: true,
                //syncScrolling : false,
                saveHTMLToTextarea: true, // 保存 HTML 到 Textarea
                searchReplace: true,
                //watch : false,                // 关闭实时预览
                htmlDecode: "style,script,iframe|on*", // 开启 HTML 标签解析，为了安全性，默认不开启
                //toolbar  : false,             //关闭工具栏
                //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
                emoji: true,
                taskList: true,
                tocm: true, // Using [TOCM]
                tex: true, // 开启科学公式TeX语言支持，默认关闭
                flowChart: true, // 开启流程图支持，默认关闭
                sequenceDiagram: true, // 开启时序/序列图支持，默认关闭,
                //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
                //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
                //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
                //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
                //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
                imageUpload: true,
                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp",'txt'],
                imageUploadURL: "/Home/File",
                toolbarAutoFixed: true, //固定导航栏

                onload: function () {
                    console.log('onload', this);
                    //this.fullscreen();
                    initPasteDragImg(this);
                    //this.unwatch();
                    //this.watch().fullscreen();

                    //this.setMarkdown("#PHP");
                    //this.width("100%");
                    //this.height(480);
                    //this.resize("100%", 640);
                }
            });
            

           

            $("#get-md-btn").bind('click', function () {
                //lert(testEditor.getHTML());
                alert(testEditor.getMarkdown());
            });
       
        });
    </script>

}