@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = null;
}





<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - 缺碗儿</title>
    <link rel="stylesheet" type="text/css" href="/404/css/htmleaf-demo.css">
    <link rel="stylesheet" href="/404/css/style.css" asp-append-version="true">
    <link href="~/404/css/normalize.css" rel="stylesheet" />
</head>
<body>

    <nav class="shelf">
        <a class="book home-page" href="https://localhost:44375/#/Blog/index" target="_blank">Home page</a>
        <a class="book about-us" href="https://qm.qq.com/cgi-bin/qm/qr?k=bNHi8nLX841GOhnsIDUFiINrR1bFnvbq&jump_from=webapi" target="_blank">About us</a>
        <a class="book contact" href="http://wpa.qq.com/msgrd?v=3&uin=3393597524&site=qq&menu=yes" target="_blank">Contact</a>
        <a class="book faq">F.A.Q.</a>

        <span class="book not-found"></span>

        <span class="door left"></span>
        <span class="door right"></span>
    </nav>
    <h1>Error 404</h1>
    <p>糟糕，网页跑路了。。。</p>
  

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

</body>
</html>
